@use "@/src/app/(client)/scss/variables" as *;

#featured {
  max-width: 100vw;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;

  font-family: $playfare;
  font-weight: bold;
  font-size: 1.4rem;

  .category-slider {
    width: 100%;
    position: relative;

    .slide {
      padding: 0 4vw;
      display: flex;
      justify-content: center;
      align-items: center;

      .slide-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        cursor: pointer;

        .img-container {
          aspect-ratio: 4 / 5;
          overflow: hidden;
          position: relative;
          border-radius: 5px;

          img {
            object-fit: cover;
          }
        }

        h3 {
          text-align: center;
          font-family: $roboto;
        }
      }
    }

    .nextArrow,
    .prevArrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      cursor: pointer;
      width: auto;
      height: auto;

      &::before {
        color: $blue;
        opacity: 1;
        font-size: 2rem;
      }
    }

    .nextArrow {
      right: calc(4vw + 10px);
    }

    .prevArrow {
      left: calc(4vw + 10px);
    }
  }
}

//*---------->> Tablet

@media screen and (min-width: 820px) {
  #featured {
    height: 50vh;
    padding: 0 4vw;

    .category-slider {
      .slide {
        padding: 0 2vw;

        .slide-container {
          h3 {
            font-size: 1.2rem;
          }
        }
      }

      .nextArrow {
        right: -20px;
      }

      .prevArrow {
        left: -20px;
      }

      .nextArrow,
      .prevArrow {
        top: 45%;

        &::before {
          font-size: 1.4rem;
        }
      }
    }
  }
}

//*---------->> desktop

@media screen and (min-width: 1025px) {
  #featured {
    height: 100vh;
    padding: 0 14vw;

    h2 {
      font-size: 2.8rem;
    }

    .category-slider {
      .nextArrow,
      .prevArrow {
        top: 50%;
      }
    }
  }
}
