@use "@/src/app/(client)/scss/variables" as *;

#hero {
  max-width: 100vw;
  width: 100%;
  height: 100vh;
  height: 100svh;
  padding: 100px 4vw 40px 4vw;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $dark;

  .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 3.8rem;
    line-height: 1;

    position: relative;
    z-index: 4;

    #text {
      h2 {
        font-weight: normal;
      }

      position: relative;
    }
  }

  .bg-container {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .bg-image {
      position: absolute;
      inset: 0;
      z-index: 1;
      width: 100%;
      height: 100%;

      img {
        object-fit: contain;
      }

      &:nth-of-type(1) {
        z-index: 1;

        img {
          top: 60% !important;
          left: -30% !important;
          transform: rotate(-30deg);
        }
      }

      &:nth-of-type(2) {
        z-index: 2;

        img {
          top: 36% !important;
        }
      }

      &:nth-of-type(3) {
        z-index: 1;

        img {
          top: 48% !important;
          left: 10% !important;
          transform: rotate(40deg);
        }
      }
    }
  }

  .bottom-container {
    position: relative;
    z-index: 4;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 15px;

    .socials {
      display: flex;
      gap: 8px;
      padding: 8px;
      align-items: center;
      border-radius: 10px;

      svg {
        $size: 30px;
        width: $size;
        height: $size;
        color: $blue;
      }

      .insta {
        $size: 33px;
        width: $size;
        height: $size;
      }
    }

    #shopNow {
      width: 100%;
      height: 48px;
      display: grid;
      place-content: center;
      font-size: 1.2rem;
      font-weight: bold;
      border-radius: 10px;
      padding: 0 18px;
    }
  }
}

//*---------->> Tablet

@media screen and (min-width: 820px) {
  #hero {
    padding: 150px 4vw 50px 4vw;

    .title-container {
      font-size: 5rem;
    }

    .bg-container {
      .bg-image {
        &:nth-of-type(1) {
          img {
            left: -18% !important;
          }
        }

        &:nth-of-type(3) {
          img {
            left: 5% !important;
          }
        }
      }
    }

    .bottom-container {
      gap: 20px;
      .socials {
        svg {
          $size: 40px;
          width: $size;
          height: $size;
          color: $blue;
        }

        .insta {
          $size: 43px;
          width: $size;
          height: $size;
        }
      }

      #shopNow {
        height: 60px;
        padding: 0 20px;
        font-size: 1.5rem;
      }
    }
  }
}

//*---------->> desktop

@media screen and (min-width: 1025px) {
  #hero {
    padding: 100px 10vw 30px 10vw;

    .title-container {
      width: 100%;
      height: 100%;

      font-size: 7rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      #text {
        h2 {
          height: fit-content;
        }
      }

      #text:nth-of-type(2) {
        align-self: flex-end;
      }
    }

    .bg-container {
      .bg-image {
        &:nth-of-type(1) {
          img {
            top: 50% !important;
            left: -7% !important;
          }
        }
        &:nth-of-type(2) {
          img {
            top: 20% !important;
          }
        }
        &:nth-of-type(3) {
          img {
            top: 28% !important;
            left: 4% !important;
          }
        }
      }
    }

    .bottom-container {
      position: absolute;
      width: fit-content;
      gap: 20px;
      left: 10vw;
      bottom: 30px;

      .socials {
        svg {
          $size: 28px;
          width: $size;
          height: $size;
          color: $blue;
        }

        .insta {
          $size: 31px;
          width: $size;
          height: $size;
        }
      }

      #shopNow {
        height: 50px;
        max-width: 180px;
        width: 180px;
        font-size: 1.2rem;
      }
    }
  }
}
