@use "@/src/app/(client)/scss/variables" as *;

#allProducts {
  padding: 10px 4vw 20px 4vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 14px;
}

//*---------->> Tablet

@media screen and (min-width: 820px) {
  #allProducts {
    padding: 10px 4vw 40px 4vw;

    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}

//*---------->> desktop

@media screen and (min-width: 1025px) {
  #allProducts {
    padding: 10px 10vw 50px 10vw;
    gap: 40px;
  }
}
