@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$playfare: "Playfair Display", serif;
$roboto: "Roboto", sans-serif;

$light: #ffffff;
$dark: #000000;

$textLight: #f5f5f7;
$textDark: #1d1d1f;

$lOrange: #ffe5dd;
$heroBg: #ffffff;

$pink: #ff8abc;
$yellow: #ffae3a;
$green: #b2ca7d;
$blue: #003ecb;

/* 
//*---------->> Tablet

@media screen and (min-width: 820px){

}

//*---------->> desktop

@media screen and (min-width: 1025px){

}

//*---------->> large desktop

@media screen and (min-width: 2400px){

}
 */
